@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* NAVBAR CSS */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-list {
  display: flex;
  gap: 10px;
}
/* BOOK PAGE CSS */
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
}

.wrapper {
  padding-block: 20px;
  display: flex;
  flex-wrap: wrap;
}

.cart {
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 300px;
}

.cart-image {
  width: 150px;
}

.cart-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SIGN IN - SIGN UP CSS */

.register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-group {
  margin-top: 15px;
}

.form-control {
  width: 300px;
  height: 45px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #000;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 18px;
}

.form-control::placeholder {
  color: #fff;
}

.form-group > button {
  width: 100%;
  height: 45px;
}

/* LOADING SPINNER CSS */
.loading {
  height: 100vh;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.772) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #00bbff inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
